body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.panel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container {
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #44bdf1;
    font-size: x-large;
    text-align: center;

}

.result {
    margin: 10px;
    padding: 0px;
    width: 100vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;

}

.option-container {
    align: column;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: #44bdf1;

}

.option {
    padding: 10px;
    width: 60vw;
    height: 20vh;
    font-size: larger;
    background-color: rgb(244, 248, 22);
    border-radius: 5%;

}

.option:hover {
    background-color: lightgoldenrodyellow;
}

.navigation {
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: #44bdf1;
}

.evaluate,
.next {
    width: 30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}


.start {
    width: 20vw;
    color: white;
    background-color: #1bbf08;
    font-size: larger;
}